/*
  Анимация:
  enter
  exit
*/


.order-enter
  background: red;
  transition: 2s;
  transform: translate(-120%);
  &.order-enter-active
    background: yellow;
    transform: translate(0);

.order-exit
  background: blue;
  transition: 5s;
  transform: translate(0);
  &.order-exit-active
    background: yellow;
    transform: translate(120%)
